.footer {
    display: flex;
    gap: 20px;
    background-color: #228b22;
    padding: 10px;
    width: 100%;
   justify-items: center;
   align-items: start;
   color: #333;
}


.inf {
    background-color:  #228b22;
    border-radius: 10px;
    width: 350px;
    display: flex;
    align-items: start;
    gap: 20px;
    
}
.imglogo{
width: 100px;
height: 100px;
}
.infprof
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color:#333;
    size:"-10";
}
.infprof a {
    color: #ffff;
    text-decoration: none;
}


.infprof h2 {
    font-size: 25px; 
    color: #333;
    margin: 0 0 10px;
}

.contato {
    font-size: 23px; 
    color: #333;
    text-align: center; 
   
}

.inf h2 {
    font-size: 24px;
    color: #333;
    margin: 0 0 10px;
}

.endereco a {
    font-size: 16px;
    color: #ffff;
    text-decoration: none;
}
.contato{
    color: #333 ;
}

.endereco a:hover {
    text-decoration: underline;
}
.numero a {
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
}

.numero a:hover {
    text-decoration: underline;
}